body {
  background: blue;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cxl4ho');
  src:  url('../fonts/icomoon.eot?cxl4ho#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cxl4ho') format('truetype'),
    url('../fonts/icomoon.woff?cxl4ho') format('woff'),
    url('../fonts/icomoon.svg?cxl4ho#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}